<!DOCTYPE html>
<% include partials/header %>

<html>
    <head>
        <title>Mercury</title>
    </head>
    <body>
        <h1>Welcome to the Mercury page!</h1>
         <img  src="/img/mercury.jpg" />
        <p>
            Mercury is the planet that is the closest to the sun. It is also the second smallest planet <br>
            in the solar system. Mercury rotates in a way that is unique in the Solar System. It is tidally <br>
            locked with the Sun meaning that relative to the fixed stars, it rotates on its axis exactly three <br>
            times for every two revolutions it makes around the Sun.
        </p>
        
 <% include partials/footer %>