<% include partials/header %>
<html>
    <head>
        <title>Venus</title>
    </head>
    <body>
        <h1>Welcome to the Venus page!</h1>
        <img src="/img/venus.jpg" />
        <p>
            Venus is the second planet closest to the sun, is named from the Roman goddess of love and beauty. <br>
            Venus is the hottest world in the solar system. Although Venus is not the planet closest to the sun, <br>
            its dense atmosphere traps heat in a runaway version of the greenhouse effect that warms Earth. <br>
            As a result, temperatures on Venus reach 870 degrees Fahrenheit (465 degrees Celsius), more than <br>
            hot enough to melt lead.Probes that scientists have landed there have survived only a few hours <br>
            before being destroyed. <br>
        </p>
        
 <% include partials/footer %>